#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}
input{
  text-align: center;
  font-size: 15px;
  height: 30px;
}

input, .formButton {
  width: 70%;
  margin-bottom: 2vmax;
  margin-top: -10px;
}

#dbit-logo{
  width: 10rem;
  margin-bottom: -40px;
}


div #form {
  padding: 25px;
  padding-right: 30px;
  align-self: center;
  border: 3px;
  border-style:double;
  border-radius: 20px;
}

#ativos, #passivos{
  display: inline-block;
}

.grupo-contas{
  border: 5px;
  border-style:double;
  border-radius: 20px;
  padding: 2rem;
  margin-top: 3rem;
  margin-left: 2rem;
}

