#nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  box-shadow: 0 2px 8px rgba(0,0,0,0.05);
  background-color: #006effff;
}

#nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.2rem;
  padding: 1rem 1rem;
  border-radius: 5%;
}

#nav a:hover {
  background-color: #0056ccff;
}

#nav ul {
  display: none;
  position: fixed;
  top: 2.7rem;
  background-color: #006effff;
  list-style: none;
  padding: 0.5rem;
  border-radius: 5%;
}
#nav ul li {
  margin: 1rem 0;
}
#nav ul li a {
  font-size: 1rem;
}
#nav a.submenu:hover + ul,
#nav ul:hover {
  left: auto;
  display: block;
  justify-content: center;

}
